@{
	Layout = @"/_Master.cshtml";
	ViewData["Title"] = Model.String(Keys.GroupKey) + " Reference";
}

<section class="content-header">
	<h1>@Model.String(Keys.GroupKey).TrimEnd(new char[]{'s'}) Reference</h1>
</section>
<section class="content">
    @Html.Partial("_ReferenceList", 
				Model.DocumentList(Keys.GroupDocuments), 
				new ViewDataDictionary(ViewData)
                {
                    { "Category", Model.String(Keys.GroupKey) }
                })
</section>
@RenderBody()
