@using Microsoft.AspNetCore.Html

@{
    Layout = "/_Master.cshtml";
    ViewData[Keys.Title] = Model["Title"];
}

@section Infobar {	
	<div id="infobar-headings"></div>
}

@section Search {	
	@Html.Partial("_ReferenceSearch")	
    <hr />
}

@section Sidebar {
	@* @Html.Partial("Sidebar/_" + Model.String("Kind")) *@
}

<section class="content-header">
    <h1>@(new HtmlString(Model["NAntDisplayName"].ToString()))</h1>
</section>
<section class="content">
    @RenderBody()
</section>