Title: Home
NoSidebar: true
NoTitle: true
---
<h1>Welcome!</h1>

<p>Thank you for your interest in <a href="https://github.com/NAnt2/NAnt2">NAnt2</a> project which is a continuation of the well known <a href="http://nant.sourceforge.net/">NAnt</a> project - first build tool written in .NET for .NET</p>
<p>You can explore the NAnt2 documentation by selecting sections from the navigation bar above.</p>
<p>
    <h2>Why NAnt2?</h2>
    <ul>
        <li>Because the original project still works and rocks even if it's unmaintained since 2012</li>
        <li>Because there are a lot of projects out there still using NAnt as their build tool</li>
        <li>Because it's easy to understand and write a NAnt script to automate flows, even without strong development skills</li>
        <li>Because of trust - no hidden NuGet packages installs or internet surfing or telemetry, no not-working addons because they're unmaintained</li>
    </ul>
</p>
<div class="alert alert-warning">
    Please note that the NAnt2 website is still a work-in-progress. If you encounter any issues please open a new ticket <a href="https://github.com/NAnt2/NAnt2/issues">here</a>.
</div>