Title: Documentation
---

<p>This user guide is under active development.</p>
<p>Some parts of NAnt2 aren't documented as completely as they need to be. Please create a new issue or a pull request to enhance NAnt2 documentation.</p>
<p>Portions of this document have been directly copied from the [Apache Ant user manual](http://jakarta.apache.org/ant/manual/).</p>

@Html.Partial("_ChildPages")