@{
	string remarks = Model.String("Remarks");
	bool displayHeader = ViewData.ContainsKey("displayHeader") ? Convert.ToBoolean(ViewData["displayHeader"]) : true;
}
@if(!string.IsNullOrWhiteSpace(remarks))
{
	if(displayHeader)
	{
		<h1 id="Remarks">Remarks</h1>
	}
	<div>@Html.Raw(remarks)</div>
}